.intro-heading {
    font-size: 70px;
    font-weight: 600;
}

.intro-subheading {
    font-size: 40px;
    font-weight: 100;
}


img {
    max-width: 50%;
    display: block;
    margin: 0;
    padding: 0;
}

.paper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
  